{% extends "list/layout.html" %}
{% block title%}Add List{% endblock %}
{%block body %}
       
        <div class="container mt-5">
            <h1>Add Grocery List</h1>
            <form action="{% url 'new_listing' %}" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label>Item name</label>
                    <input type="text" class="form-control" name="item_name" placeholder="Item name" required/>
                </div>
                <div class="form-group">
                    <label>Item quantity</label>
                    <input type="text" class="form-control" name = "item_quant" placeholder="Item quantity" required/>
                </div>
                <div class="form-group">
                    <label>Item status</label>
                    <select class="form-control" name="item_status" required>
                        <option value="0">PENDING</option>
                        <option value="1">BOUGHT</option>
                        <option value="2">NOT AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control"  name = "item_date" placeholder="Date" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-danger">
                </div>
            </form>
        </div>
  {%endblock%}
